<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <modules>
        <Magicstore_Blog>
            <version>0.0.1</version>
        </Magicstore_Blog>
    </modules>
    
    <frontend>
        <layout>
            <updates>
                <blog>
                    <file>magicstore_blog.xml</file>
                </blog>
            </updates>
        </layout>
        <routers>
            <my_blog>
                <use>standard</use>
                <args>
                    <module>Magicstore_Blog</module>
                    <frontName>post</frontName>
                </args>
            </my_blog>
        </routers>
    </frontend>
    
    <global>
        
        <blocks>
            <blog>
                <class>Magicstore_Blog_Block</class>
            </blog>
        </blocks>
        
        <models>
            <blog>
                <class>Magicstore_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Magicstore_Blog_Model_Resource</class>
                <entities>
                    <table_post>
                        <table>magicstore_post</table>
                    </table_post>
                </entities>
            </blog_resource>
        </models>
        
        <helpers>
            <blog>
                <class>Magicstore_Blog_Helper</class>
            </blog>
        </helpers>
        
        <resources>
            <blog_setup>
                <setup>
                    <module>Magicstore_Blog</module>
                </setup>
            </blog_setup>
        </resources>
        
    </global>
    
    <admin>
        <routers>
            <blog_admin>
                <use>admin</use>
                <args>
                    <module>Magicstore_Blog</module>
                    <frontName>blog_admin</frontName>
                </args>
            </blog_admin>
        </routers>
    </admin>
    
    <adminhtml>
        <menu>
            <blog module="blog">
                <title>Our blog</title>
                <sort_order>77</sort_order>
                <action>blog_admin/adminhtml_posts</action>
            </blog>
        </menu>
    </adminhtml>
    
</config>