<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magicstore_Lesson>
            <version>1.0.0.0</version>
        </Magicstore_Lesson>
    </modules>
    
    <global>
        
        <blocks>
            <lesson>
                <class>Magicstore_Lesson_Block</class>
            </lesson>
        </blocks>
        
        <helpers>
            <lesson>
                <class>Magicstore_Lesson_Helper</class>
            </lesson>
        </helpers>
        
        <models>
            <lesson>
                <!-- catalog models class group declaration -->
                <class>Magicstore_Lesson_Model</class>
                 <!-- catalog resource models class group declaration -->
                <resourceModel>lesson_resource</resourceModel>
            </lesson>
            <lesson_resource>
                <class>Magicstore_Lesson_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </lesson_resource>
            
            <!--model rewrite -->
<!--            <cms>
                <rewrite>
                    <block>Magicstore_Lesson_Model_Block</block>
                </rewrite>
            </cms>-->
            
        </models>
        
        <events>
            <model_save_before><!--event -->
                <observers>
                    <lesson><!--uniqe for event -->
<!--                        <type>model</type>singleton | disabled -->
                        <class>lesson/observer</class>
                        <method>addChina</method>
                    </lesson>
                </observers>
            </model_save_before>
        </events>
        
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <my_magicstore before="Mage_Adminhtml">Magicstore_Lesson_Adminhtml</my_magicstore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <frontend>
        <routers>
            <lesson><!-- just need to be unique-->
                <use>standard</use> <!-- admin in adminpanel-->
                <args>
                    <module>Magicstore_Lesson</module>
                    <frontName>magicstoretalk</frontName>
                </args>
            </lesson>
            <!-- homeTask#8 Rewrite Controller-->
            <contacts>
                <args>
                    <modules>
                        <lesson before="Mage_Contacts">Magicstore_Lesson_Contacts</lesson>
                    </modules>
                </args>
            </contacts>
        </routers>
        <layout>
            <updates>
                <lesson>
                    <file>lesson.xml</file>
                </lesson>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
<!--        <events>
            <cms_page_load_after>event 
                <observers>
                    <lesson>uniqe for event 
                        <type>model</type>singleton | disabled 
                        <class>lesson/observer</class>
                        <method>cmsPageLoadAfter</method>
                    </lesson>
                </observers>
            </cms_page_load_after>
        </events>-->
    </adminhtml>
    
</config>
