<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magicstore_Slider>
            <version>0.0.1</version>
        </Magicstore_Slider>
    </modules>
    
    <global>
        <resources>
            <slider_setup>
                <setup>
                    <module>Magicstore_Slider</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </slider_setup>
        </resources>
        
        
        <models>
            <slider>
                <class>Magicstore_Slider_Model</class>
                <resourceModel>magicstore_slider_resource</resourceModel>
            </slider>
            <slider_resource>
                <class>Magicstore_Slider_Model_Resource</class>
                <entities>
                    <slides_table>
                        <table>slides</table>
                    </slides_table>
                </entities>
            </slider_resource>
        </models>
        <blocks>
            <slider>
                <class>Magicstore_Slider_Block</class>
            </slider>
        </blocks>
    </global> 
    <frontend>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    
    
    
    
    
    
    
    
    
    
    
    
    
</config>